body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(76, 255, 0);
    background-image: linear-gradient( rgb(76, 255, 0), #808080);
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: rgba(77,255,0,0.75);
  border-bottom: 3px solid rgb(76,255,0);
  padding-bottom: 3px;
}

.jumbotron {
    background: url("../images/country.JPG") no-repeat center fixed ;
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}