{% extends "app/fr/layout_fr.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="col-sm-4">
<div class="panel panel-warning">
<div class="panel-body">
<p> Le but principal de MeDOC est de fournir a des personnes de tout age un accès rapide et fiable a des conseils médicaux,
 et aux contacts de médecins/hopitaux, selon le cas dont ils souffrent. 
 A partir des symptomes fournis par l'utilisateur, nous pouvons lui donner une idée ou une supposition de ce dont il souffre,
 et nous le dirigeons vers un médecin spécialisé en la matière ou vers un hopital.
 Ainsi, nous aidons notre communauté dans sa santé et aidons a eviter les comportements irresponsables ou dangereux face aux maladies.<br />
MeDOC ne fournit pas des diagnostics médicaux, mais uniquement des conseils. Ces conseils ne doivent etre pas prise au pied de la lettre;
Seul un médecin licencié a l'autorisation de fournir des diagnostics.



En bref, nous facilitons votre contact et relations entre vous et les médecins! </p>
</div>
</div>
</div>
<br /><h2>"It's all about Me and the Doc".</h2>
{% endblock %}
