{% extends "app/fr/layout_fr.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Insititution Saint-Louis de Gonzague<br />
    Port-au-Prince, HT Delmas 31<br />
    <abbr title="Phone">P:</abbr>
    509.3125.3334
</address>

<br /><br /><br /><br /><br />
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Service de Maketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<br /><br /><br /><br /><br />
{% endblock %}
