{% extends "app/fr/layout_fr.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Insititution Saint-Louis de Gonzague<br />
    Port-au-Prince, HT Delmas 31<br />
    <abbr title="Phone">P:</abbr>
    509.3125.3334
</address>

<br /><h2> EMAIL </h2>
<address>
  <h3> Vous pouvez nous contacter a l'une des adresses email suivantes, et nous ferons tout notre possible pour vous repondre au plus vite/ </h2>
    <strong>Support:</strong>   <a href="mailto:erichaitian97@gmail.com">erichaitian97@gmail.com</a><br />
 <strong>Support:</strong>   <a href="mailto:vales0797@gmail.com">vales0797@gmail.com</a><br />
  <strong>Support:</strong>   <a href="mailto:patrickjuniora@yahoo.fr">patrickjuniora@yahoo.fr</a><br />
</address>
<br /><br /><br /><br /><br />
{% endblock %}
