{% extends "app/fr/layout_fr.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

 <div class="page-header">
              
            </div>
           <div class="col-sm-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                             <h3 class="panel-title">Head</h3>
                        </div>
                        <div class="panel-body">Si vous avez une migraine, un peu de repos
                        un comprimé (faites attention avec la dose) et mois de stress vous aidera certainement.
                         Si la migraine persise et devient insoutenable, allez chez un medecin au plus vite.
                        </div>

               
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                 <h3 class="panel-title">Docteur ####</h3>
            </div>
            <div class="well">
                <p>Adresse: ############ <br /> Telephone: 5094000000</p>
            </div></div></div>


{% endblock %}