{% extends "app/fr/layout_fr.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<h2> Certains endroits ou vous pourriez etre atteint: </h2>
 <div class="page-header">
              
            </div>
            <div class="row">
                <div class="col-sm-4">
                    
                        <a href="{% url 'head_fr' %}" class="list-group-item">Tete*</a>
                        <a href="#" class="list-group-item">Thorax</a>
                        <a href="#" class="list-group-item">Os</a>
                        <a href="#" class="list-group-item">Muscles</a>
                        <a href="#" class="list-group-item">Ventre</a>
                    
                </div></div>
<h2> Choisisssez en un </h2>
{% endblock %}