{% extends "app/kr/layout_kr.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="col-sm-4">
<div class="panel panel-warning">
<div class="panel-body">
<p> Objektif prinsipal MeDOC se poul bay nenpot ki moun, nenpot ki laj, konsèy medikal ak kontak doktè/lopital selon sa l'ap soufri an.
 Avek sentom moun nan bay la, nou ka bal yon ti lide sou sa li genyen kom maladi, aleji, etc...
 e nou tou bal kontak yon doktè ki spesyalize nan sa, ou yon kontak yon lopital ki pwoch li.
 Konsa, n'ap ede kominote nou nan sante l' e n'ap ede evite move konpotman ak reyaksyon devan maladi.<br />
Se pa dyagnostik medikal MeDOC bay, men selman konsèy. Pa pran konsèy sa yo pou levanjil, ou byen tankou yon dyagnostik yon doktè ta ba ou;
Se selman yon doktè ki gen diplom li ak tout otorizasyon l' (lisans doktè l') ki ka baw yon dyagnostik medikal.



Pou pi kout, n'ap fasilite kontak ou ak relasyon w' ant ou menm ak dok ou!</p>
</div>
</div>
</div>
<br /><h2>"It's all about Me and the Doc".</h2> 	

{% endblock %}
