{% extends "app/kr/layout_kr.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Enstitisyon Sen-Lwi Gonzag<br />
    Potoprens, HT Delmas 31<br />
    <abbr title="Phone">P:</abbr>
    509.3125.3334
</address>

<br /><br /><br /><br /><br />
<address>
    <strong>Sipo Kliyantel:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Sevis Maketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<br /><br /><br /><br /><br />
{% endblock %}
