{% extends "app/kr/layout_kr.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Enstitisyon Sen-Lwi Gonzag<br />
    Potoprens, HT Delmas 31<br />
    <abbr title="Phone">P:</abbr>
    509.3125.3334
</address>

<br /><h2> EMAIL </h2>
<address>
<h3> Ou ka kontakte n' nan youn nan email sa yo, n'ap fe tout sa n' kapab pou n' reponn nou byen vit.</h2>
    <strong>Support:</strong>   <a href="mailto:erichaitian97@gmail.com">erichaitian97@gmail.com</a><br />
 <strong>Support:</strong>   <a href="mailto:vales0797@gmail.com">vales0797@gmail.com</a><br />
  <strong>Support:</strong>   <a href="mailto:patrickjuniora@yahoo.fr">patrickjuniora@yahoo.fr</a><br />
</address>
<br /><br /><br /><br /><br />
{% endblock %}
