{% extends "app/kr/layout_kr.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<h2> Men yon seri kote nou panse ki ka ap fe w' mal: </h2>
 <div class="page-header">
              
            </div>
            <div class="row">
                <div class="col-sm-4">
                    
                        <a href="{% url 'head_kr' %}" class="list-group-item">Tet*</a>
                        <a href="#" class="list-group-item">Pwatrin</a>
                        <a href="#" class="list-group-item">Zo</a>
                        <a href="#" class="list-group-item">Muscle</a>
                        <a href="#" class="list-group-item">Vant</a>
                    
                </div></div>
<h2> Klike youn nan yo </h2>
{% endblock %}