{% extends "app/en/layout_en.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="col-sm-4">
<div class="panel panel-warning">
<div class="panel-body">
<p> MeDOC's purpose is to help people of any age have access to quick medical advices,
 and put them in contact with a physician or a hospital according to his case. <br />
MeDOC do not give full medical diagnostics, and the medical advices should not be considered as such (medical diagnostics);
always remember, only a licensed physician is able to give medical diagnostics.
Our main goal is to help people who don’t have immediate access to a hospital or a physician quick and 
reliable medical advices and a hint (or a supposition) on what illness they may be suffering of AND put him in contact with
a specialized physician.
As doing so, we want to help our community with its wellness and help avoid careless or dangerous decisions in front of illness.


In short MeDOC’s goal is to ease contact and relations between you and doctors! </p>
</div>
</div>
</div>
<br /><h2>"It's all about Me and the Doc".</h2>
{% endblock %}
