{% extends "app/en/layout_en.html" %}

{% block content %}
{% load staticfiles %}
<center><h2 class="customheader">{{ title }}</h2></center>
<center><p>{{ message }}</p></center>

<div class="tabs">
<table class="bodydiv">
	<tr>

	<th class="th_contact010">
	<img width="50%"  class="img-circle" src="{% static 'app/images/DSC_0010.JPG' %}"></th>
	<th>&nbsp;</th>
	<th>&nbsp;</th>
	</tr>
	<tr>
	<th class="th_contact02">
	<i><h2> Alexandre Erich Sébastien GEORGES	 </h2></i>
	<p>&nbsp;</p>
	<p> Lead Designer and Coder </p>
	<address>
    Port-au-Prince, HT <br />
    <abbr title="Phone">P:</abbr>
    509.3125.3334
</address>
</th>
</table>
	<p>&nbsp;</p>

<br />
</div>
<br /><br /><br /><br /><br />
{% endblock %}
