{% extends "app/en/layout_en.html" %}

{% block content %}
{% load staticfiles %}
<center><h2 class="customheader">{{ title }}</h2></center>
<center><p>{{ message }}</p></center>

<div class="tabs">
<table class="bodydiv" align="center">
	<tr>
	<th class="th_contact010">
	<img width="60%"  class="img-circle" src="{% static 'app/images/Alexandre.jpg' %}"></th>

<td>
	<th class="th_contact010">
	<img width="60%"  class="img-circle" src="{% static 'app/images/Vales.jpg' %}"></th>
</td>

<td>
	<th class="th_contact010">
	<img width="60%"  class="img-circle" src="{% static 'app/images/Henri.JPG' %}"></th>
</td></tr>


<tr>	<th class="th_contact02">
	<i><p> Alexandre Erich Sébastien GEORGES	 </p></i>
	<p>&nbsp;</p>
	<p> Lead Designer and Coder </p>
	<address>
    Port-au-Prince, HT <br />
    <abbr title="Phone">P:</abbr>
    509.3125.3334
</address>
</th>

<td>
<th class="th_contact02">
<i><p> Riccardy VALES	 </p></i>
<p>&nbsp;</p>
<p> Coder </p>
<address>
	Port-au-Prince, HT <br />
	<abbr title="Phone">P:</abbr>
	509.3731.1824
</address>
</th></td>

<td>
<th class="th_contact02">
<i><p> Henri Edouard FRANCOIS	 </p></i>
<p>&nbsp;</p>
<p> Coder </p>
<address>
	Port-au-Prince, HT <br />
	<abbr title="Phone">P:</abbr>
	509.3104.7251
</address>
</th></td></tr>
</table>


	<p>&nbsp;</p>

<br />
</div>
<br /><br /><br /><br /><br />
{% endblock %}
