{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Institution Saint-Louis de Gonzague<br />
    Port-au-Prince, HT Delmas 31<br />
    <abbr title="Phone">P:</abbr>
    <br /> 
    ASK FOR: Alexandre Erich Sebastien Georges<br />
     <br>        Riccardy Valès<br />
     <br>        Alliance Patrick Jr
    509.3125.3334
</address>

<br /><br /><br /><br /><br />
<address>
    <strong>Support:</strong>   <a href="mailto:erichaitian97@gmail.com">erichaitian97@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:NO MARKETING AVAILABLR">NO MARKETING AVAILABLE</a>
</address>
<br /><br /><br /><br /><br />
{% endblock %}
