{% extends "app/en/layout_en.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

 <div class="page-header">

            </div>
       <div class="panel panel-primary">
	<div class="panel-heading">
	    <h2 class="panel-title">List of our registered Docs.</h2>
<h1 class="hospital" > Docs </h1>
  {% for mydoctor in mydoctors %}
    {% if mydoctor.country == "Haiti" %}
  	   <div class="Doctor">
         <h3> {{ mydoctor.name }}</h3>
        <p> {{ mydoctor.email }} -- {{ mydoctor.specialite }} </p>
        {% endif %}
{% endfor %}
</div></div>


{% endblock %}
