{% extends "app/en/layout_en.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

 <div class="page-header">
              
            </div>
           <div class="col-sm-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                             <h3 class="panel-title">Head</h3>
                        </div>
                        <div class="panel-body">If you have a headache, some rest, some pills (please be careful with the dose)
                        and less stress should do the trick. If it persists, please see a doctor.
                        </div>

               
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                 <h3 class="panel-title">Doctor ####</h3>
            </div>
            <div class="well">
                <p>Adresse: ############ <br /> Telephone: 5094000000</p>
            </div></div></div>


{% endblock %}