{% extends "app/en/layout_en.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<div class="panel panel-primary">
	<div class="panel-heading">
	    <h3 class="panel-title">Hospitals</h3>
	</div>
	<div class="panel-body">
<iframe
  width="300"
  height="350"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCwc4WoRaFlhYUBetUZ56RG82Xsa1XGW1o
    &q=Saint-Louis+de+Gonzague+-+secondaire,Delmas+33,Port-au-Prince,HT">
</iframe>
{% for hospital in hospitals %}
	<div class="Hospital">
    	<h3>{{ hospital.nom }}</h3>
    	<p>{{ hospital.quartier }} --- {{ hospital.adresse }}</p>
		<p>{{ hospital.phone_number }}</p>
    </div>
{% empty %}
    <p>Aucun autre hopital.</p>
{% endfor %}

</div>
</div>
</div>


{% endblock %}