{% extends "app/en/layout_en.html" %}

{% block content %}
    <style>
      html, body, #map-canvas {
        height: 390px;
        width: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places,v=3.exp&signed_in=true"></script>
    <script>
var map;
var service;
var marker;
var pos;
var infowindow;

function initialize()
{

    var mapOptions = {
     zoom: 15,
     mapTypeId: google.maps.MapTypeId.ROADMAP,
     scrollwheel: true,
     panControl: false,
     streetViewControl: false,
     mapTypeControl: false,
     };

    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    //HTML5 geolocation
    if (navigator.geolocation)
    {
       navigator.geolocation.getCurrentPosition(function(position)
       {
            pos = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);

            infowindow = new google.maps.InfoWindow({map: map,position: pos,content: 'You are Here!'});

            var request = {location:pos,radius:2000,types: ['hospital']};

            map.setCenter(pos);

            infowindow = new google.maps.InfoWindow();
            var service = new google.maps.places.PlacesService(map);
            service.nearbySearch(request,callback);

        },

        function()
        {
        handleNoGeolocation(true);
        });
    }
    else
    {
    handleNoGeolocation(false);
    }

    function callback(results, status)
    {
      if (status == google.maps.places.PlacesServiceStatus.OK)
      {
        for (var i = 0; i < results.length; i++)
        {
          createMarker(results[i]);
        }
      }
    }

    function createMarker(place)
    {
      var placeLoc = place.geometry.location;
      var marker = new google.maps.Marker({
        map: map,
        position: place.geometry.location
      });

    google.maps.event.addListener(marker, 'click', function()
    {
    infowindow.setContent(place.name);
    infowindow.open(map, this);
    });

}
}
google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>

    <div id="map-canvas"></div>
    <p id="error"></p>

<div class="panel panel-primary">
	<div class="panel-body">
<div class="dropdown">
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Centre-Ville
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {% for hospital in hospitals %}
      {% if hospital.quartier == "Centre-Ville Port-au-Prince" %}
    <li><a href="#">
      {{ hospital.nom }}
      {{ hospital.specialite }}
          </br> {{ hospital.adresse }} --- Phone:{{ hospital.phone_number1 }} // {{ hospital.phone_number2 }}
      </h4>
    </a></li>
    {% endif %}
{% endfor %}
  </ul>
</div>

<div class="dropdown">
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Delmas
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {% for hospital in hospitals %}
      {% if hospital.quartier == "Delmas" %}
      <li><a href="#">
        {{ hospital.nom }}
        {{ hospital.specialite }}
            </br> {{ hospital.adresse }} --- Phone:{{ hospital.phone_number1 }} // {{ hospital.phone_number2 }}
        </h4>
      </a></li>
    {% endif %}
{% endfor %}
  </ul>
</div>

<div class="dropdown">
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Canapé-Vert
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {% for hospital in hospitals %}
      {% if hospital.quartier == "Canapé-Vert" %}
      <li><a href="#">
        {{ hospital.nom }}
        {{ hospital.specialite }}
            </br> {{ hospital.adresse }} --- Phone:{{ hospital.phone_number1 }} // {{ hospital.phone_number2 }}
        </h4>
      </a></li>
    {% endif %}
{% endfor %}
  </ul>
</div>

<div class="dropdown">
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Pacot
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {% for hospital in hospitals %}
      {% if hospital.quartier == "Pacot" %}
      <li><a href="#">
        {{ hospital.nom }}
        {{ hospital.specialite }}
            </br> {{ hospital.adresse }} --- Phone:{{ hospital.phone_number1 }} // {{ hospital.phone_number2 }}
        </h4>
      </a></li>
    {% endif %}
{% endfor %}
  </ul>
</div>

<div class="dropdown">
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Turgeau
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {% for hospital in hospitals %}
      {% if hospital.quartier == "Turgeau" %}
      <li><a href="#">
        {{ hospital.nom }}
        {{ hospital.specialite }}
            </br> {{ hospital.adresse }} --- Phone:{{ hospital.phone_number1 }} // {{ hospital.phone_number2 }}
        </h4>
      </a></li>
    {% endif %}
{% endfor %}
  </ul>
</div>

<div class="dropdown">
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Fermathe
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {% for hospital in hospitals %}
      {% if hospital.quartier == "Fermathe" %}
      <li><a href="#">
        {{ hospital.nom }}
        {{ hospital.specialite }}
            </br> {{ hospital.adresse }} --- Phone:{{ hospital.phone_number1 }} // {{ hospital.phone_number2 }}
        </h4>
      </a></li>
    {% endif %}
{% endfor %}
  </ul>
</div>

<div class="dropdown">
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Bois-Verna
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {% for hospital in hospitals %}
      {% if hospital.quartier == "Bois-Verna" %}
      <li><a href="#">
        {{ hospital.nom }}
        {{ hospital.specialite }}
            </br> {{ hospital.adresse }} --- Phone:{{ hospital.phone_number1 }} // {{ hospital.phone_number2 }}
        </h4>
      </a></li>
    {% endif %}
{% endfor %}
  </ul>
</div>

{% endblock %}
