{% extends "app/layout_home.html" %}

{% block content %}
  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"> Welcome! </h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="{% url 'en' %}">English</a></li>
                  <li><a href="{%url 'fr' %}">Francais</a></li>
                  <li><a href="{% url 'kr' %}">Kreyol</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">MeDOC</h1>
			<br />
            <p class="lead">We are Moving!!</p>
            <p class="lead">MeDOC's closed beta is going to start soon! To get a beta testing account, go to the new website on the link
            below and create an account. We'll send you a Beta account soon after!</p>
            <p class="lead">We are Moving! Get to MeDOC Beta!</p>
            <p class="lead">
              <a href="http://medoc-beta.herokuapp.com" class="btn btn-lg btn-primary"> MeDOC Beta </a>
            </p>
       
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>{% endblock %}</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
