{% extends "app/layout_home.html" %}

{% block content %}



    <div class="jumbotron">
		<p class="lead">  {{date}} </p><br />
        <h1> MeDOC </h1>
        <h2 class="language"> Choose your language </h2>
        <h3 class="lead"> Welcome to MeDOC </h3>
            <p><a class="btn btn-default" href="{% url 'en' %}"> English &raquo;</a></p>
        <h2 class="language"> Choisissez votre langue </h2>
        <h3 class="lead"> Bienvenue sur MeDOC</h3>
            <p><a class="btn btn-default" href="{% url 'fr' %}"> French &raquo;</a></p>
        <h2 class="language"> Chwazi lang ou pale a </h2>
        <h3 class="lead"> Byenvini sou MeDOC </h3>
            <p><a class="btn btn-default" href="{% url 'kr' %}"> Kreyol &raquo;</a></p>
    </div>
	


{% endblock %}