{% extends "app/layout.html" %}

{% block content %}


    <p>Hello!</p>
    <div class="jumbotron">
        <h1> MeDOC </h1>
        <h1> Choose your language </h1>
        <p class="lead"> Welcome to MeDOC </p>
            <p><a class="btn btn-default" href="{% url 'en' %}"> English &raquo;</a></p>
        <h1> Choisissez votre langue </h1>
        <p class="lead"> Bienvenue sur MeDOC</p>
            <p><a class="btn btn-default" href="{% url 'fr' %}"> French not available </a></p>
        <h1> Chwazi lang ou pale a </h1>
        <p class="lead"> Byenvini sou MeDOC </p>
            <p><a class="btn btn-default" href="{% url 'kr' %}"> Kreyol not available </a></p>
    </div>


{% endblock %}