{% extends "app/en/layout_en.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<h2> here's a list of places that could hurt: </h2>
<br /> 
            <div class="row">
                <div class="col-sm-4">
                    
                        <a href="{% url 'head' %}" class="list-group-item">Head*</a>
                        <a href="#" class="list-group-item">Thorax</a>
                        <a href="#" class="list-group-item">Bone</a>
                        <a href="#" class="list-group-item">Muscle</a>
                        <a href="#" class="list-group-item">Belly</a>
                    
                </div></div>
                
                
                
                <br />
<div class="panel panel-primary">
	<div class="panel-heading">
	    <h2 class="panel-title">Here is a list of specialized doctors.</h2>
<h1 class="hospital" > Pediatres </h1>
  {% for doctor in doctors %}
  {% if doctor.specialite == "Pediatrie" %}
  	<div class="Doctor">
   <h3> {{ doctor.nom }}</h3>
        <p> {{ doctor.adresse }} ---  {{ doctor.phone_number }}</p>
    {% endif %}
{% endfor %}
<h1 class="hospital" > Generaliste </h1>
  {% for doctor in doctors %}
  {% if doctor.specialite == "Generaliste" %}
  	<div class="Doctor">
   <h3> {{ doctor.nom }}</h3>
        <p> {{ doctor.adresse }} ---  {{ doctor.phone_number }}</p>
    {% endif %}
{% endfor %}
                                
{% endblock %}