{% extends "app/en/layout_en.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<h2> List of Physicians by country. </h2>
<br /> 
            <div class="row">
                <div class="col-sm-4">
                    
                        <a href="{% url 'head' %}" class="list-group-item">Haiti*</a>
                        <a href="#" class="list-group-item">Dominican Republic</a>
                        <a href="#" class="list-group-item">Some country</a>
                        <a href="#" class="list-group-item">Some country</a>
                        <a href="#" class="list-group-item">Some country</a>
                    
                </div></div>
                
                
                
                <br />

                                
{% endblock %}
